MODEL_NAME=<MODEL_NAME>  # Name of the model to be used for inference
MODEL_PATH=<MODEL_PATH>  # Model path to be used for inference. Required to be a directory holding <model_name>.onnx file for ONNX/TensorRT. If None, the model will be downloaded from the Hugging Face Hub for torch.
INFERENCE_DEVICE=<INFERENCE_DEVICE>  # Device to be used for inference (e.g., "cpu" or "cuda")
INFERENCE_BACKEND=<INFERENCE_BACKEND>  # Backend to be used for inference (e.g. "torch", "onnx", or "tensorrt")
API_HOST=<API_HOST>  # Host URL for the API endpoint (configure via docker args when containerized)
API_KEY=<API_KEY>  # API key for authentication (if required)
API_PORT=<API_PORT>  # Port number for the API endpoint (configure via docker args when containerized)
API_VERSION=<API_VERSION>  # Version of the API
DEBUG=<DEBUG>  # Enable or disable debug mode for the API
LOG_LEVEL=<LOG_LEVEL>  # Default log level for the API (e.g., "DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL")
LOG_FORMAT=<LOG_FORMAT>  # Default log format for the API (e.g., "json", "text")
MAX_FILE_SIZE_MB=<MAX_FILE_SIZE_MB>  # Maximum file size for uploaded files in MB
MAX_CHUNK_SIZE_MB=<MAX_CHUNK_SIZE_MB>  # Maximum chunk read at once for uploaded files in MB.
MAX_IMAGE_DIMENSIONS=<MAX_IMAGE_DIMENSIONS>  # Maximum dimensions for uploaded images (width, height)
MODEL_INPUT_SHAPE=<MODEL_INPUT_SHAPE>  # Default input shape for the model
TOP_K_PREDICTIONS=<TOP_K_PREDICTIONS>  # Number of top predictions to return from the model inference
MAX_TOP_K_PREDICTIONS=<MAX_TOP_K_PREDICTIONS>  # Maximum number of top predictions allowed for the model inference
MAX_CONCURRENT_REQUESTS=<MAX_CONCURRENT_REQUESTS> # Maximum number of concurrent requests allowed by the API
MAX_BATCH_SIZE=<MAX_BATCH_SIZE> # Maximum batch size that will be dynamically used for inferencing
BATCHING_TIMEOUT_MS=<BATCHING_TIMEOUT_MS> # Timeout for dynamic batching
API_RETRY=<API_RETRY> # Retry time when queue is full
INFERENCE_TIMEOUT=<INFERENCE_TIMEOUT> # Timeout for inference.