# dotenv environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Coverage artifacts
.coverage
.pytest_cache/

# Python virtual environment
venv/
.venv/

# Data files
data/
tests/load/data
tests/load/*.csv

# VScode setup
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json